$olive-green: #97975A;


// BOX-SHADOW VALUES //
$z-1: 0 rem-calc(1) rem-calc(4) 0 rgba(0,0,0,0.37);
$z-2: 0 rem-calc(2) rem-calc(2) 0 rgba(0,0,0,0.20), 0 rem-calc(6) rem-calc(10) 0 rgba(0,0,0,0.30);
$z-3: 0 11px 7px 0 rgba(0,0,0,0.19), 0 13px 25px 0 rgba(0,0,0,0.30);
$z-4: 0 14px 12px 0 rgba(0,0,0,0.17), 0 20px 40px 0 rgba(0,0,0,0.30);
$z-5: 0 17px 17px 0 rgba(0,0,0,0.15), 0 27px 55px 0 rgba(0,0,0,0.30);