@import '_var.scss';
@import 'blocks/_blocks.scss';
@import 'pages/_pages.scss';
@import 'components/_components.scss';



.container_12 {
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
	margin-bottom: 15px;
}

.grid_12 {
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}



h1.post-header {
	margin-top: 0;
}

h1.page-title {
	color: #444;
}

#col-48-1 .colwrapper {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 10px;
}


.post-inner {
	border-radius: 4px;
}

.product {
	padding: 0;
	margin-bottom: 15px;
}

.products {
	margin-right: 15px;
}

.colwrapper {
	padding: 20px;
}

.post-meta {
	display: none;
	visibility: hidden;
}

h3 {
	color: #444;
}

div.ls-bottom-nav-wrapper {
	display: none !important;
	visibility: hidden !important;
}

.ls-bottom-nav-wrapper {
	display: none !important;
	visibility: hidden !important;
}

ul.services {
	list-style-type: circle;
}

.services li,
.services-sub li {
	font-size: 18px;
	color: #333;
	line-height: 23px;
	margin-bottom: 10px;
}

.services li span {
	font-size: 15px;
	color: #555;
	font-style: italic;
}

ul.services-sub {
	list-style-type: disc;
}

h1.post-header {
	color: #444;
	margin-bottom: 30px;
}

h3.element-title {
	text-align: center;
	font-size: 30px;
	margin: 28px 0;
}

.contact-widget {
	text-align: center;
	display: inline-block;
}

p.form-entry {
	display: inline-block;
}

.question {
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	height: 70px;
	padding-top: 40px;
}

.wpcf7 input[type='text'],
.wpcf7 input[type='email'],
.wpcf7 textarea {
	width: 90%;
}

form.wpcf7-form {
	margin: 0;
}

a.brand img {
	width: 100% !important;
}

.label {
	color: #333;
	background-color: #fff;
	text-shadow: none;
}

span.sku_wrapper {
	visibility: hidden;
	display: none;
}

a#admin-login {
	color: #555;
	text-decoration: none;
}

a#admin-login:hover {
	text-decoration: underline;
}
