@import "../_settings.scss";


#contact-2 {

	h3 {
		font-weight: 600;
		font-size: rem-calc(25);
		color: #222;
		line-height: 1.4;
		margin: 0 0 rem-calc(8);
	}

	p {
		font-size: rem-calc(16);
		margin-bottom: rem-calc(16);
		line-height: 1.6;
	}

	h4 {
		font-weight: 600;
		font-size: rem-calc(20);
		line-height: 1.4;
		margin: 0 0 rem-calc(8);
	}

	.rowName {
		padding-bottom: rem-calc(12);

		h2 {
			font-weight: 600;
			font-size: rem-calc(28);
			margin: 0 0 rem-calc(8);
			line-height: 1.4;
		}
	}

	.cardAppointments {
		background: #FCFCFC;
		border: rem-calc(2) solid #97975A;
		box-shadow: 0 rem-calc(1) rem-calc(4) 0 rgba(0,0,0,0.10);
		border-radius: 4px;
		padding: rem-calc(16);
		// display: inline-block;
		// text-align: left;
		margin-bottom: rem-calc(20);

		display: block;
		max-width: rem-calc(400);
		margin: 0 auto;
		text-align: center;
	}

	.img-wrapper {
		padding: 0 rem-calc(6);

		img {
			margin-bottom: rem-calc(20);
			border: rem-calc(2) solid #97975A;
			box-shadow: 0 rem-calc(1) rem-calc(4) 0 rgba(0,0,0,0.10);
		}
	}
}