$min-768: "only screen and (min-width : 768px)";
$max-767: "only screen and (max-width : 767px)";

h1#contact-banner-title {
	font-size: 40px;
}

@media #{$min-768} {
	h1#contact-banner-title {
		font-size: 70px;
	}
}

.facebook-link-container {
	text-align: right;
}

a#colophon {
	color: #000;
	font-size: 12px;
	letter-spacing: 1.2px;
	text-decoration: none;

	span {
		text-decoration: underline;
	}

	&:hover {
		text-decoration: underline;
	}
}

@media #{$max-767} {
	.colophon-container,
	.facebook-link-container {
		text-align: center;
	}
}


#contact-2 {

	h3 {
		font-weight: 600;
		font-size: 25px;
		color: #222;
		line-height: 1.4;
		margin: 0 0 8px;
	}

	p {
		font-size: 16px;
		margin-bottom: 16px;
		line-height: 1.6;
	}

	h4 {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.4;
		margin: 0 0 8px;
	}

	.rowName {
		padding-bottom: 12px;

		h2 {
			font-weight: 600;
			font-size: 28px;
			margin: 0 0 8px;
			line-height: 1.4;
		}
	}

	.cardAppointments {
		background: #FCFCFC;
		border: 2px solid #97975A;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
		border-radius: 4px;
		padding: 16px;
		// display: inline-block;
		// text-align: left;
		margin-bottom: 20px;

		display: block;
		max-width: 400px;
		margin: 0 auto;
		text-align: center;
	}

	.img-wrapper {
		padding: 0 6px;

		img {
			margin-bottom: 20px;
			border: 2px solid #97975A;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
		}
	}
}