@import "../_settings.scss";

.title {
	font-family: "Castellar", Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;	
}

.centered {
	text-align: center;
}



@font-face {
  font-family: 'Castellar';
  src: url('/fonts/castellar.eot'); /* IE9 Compat Modes */
  src: url('/fonts/castellar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/castellar.woff') format('woff'), /* Modern Browsers */
       url('/fonts/castellar.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/castellar.svg#c6594049cb9d2054b3cc171b65e4bcb0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
