 /*navbar*/
.navbar-inner,
.navbar-default {
    background-color: #ffffff;
  	background-image: none;
    border: none;
    border-radius: none;
    box-shadow: none;
}

.navbar {
	margin-bottom: 0px;
}

div.menu-menu-1-container,
div.menu-new-main-menu-container {
	text-align: center;
}

.navbar .nav li a {
	font-size: 18px;
}

ul#menu-menu-1.nav,
ul#menu-new-main-menu.nav {
	float: none;
	margin: 0;
	display: inline-block;
}

.nav-collapse .nav li a {
	font-weight: normal !important;
}

